body {
  background-color: #EEF2E6;
}

nav {
  z-index: 999;
  background-color: #EEF2E6;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
nav ul a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.125s all ease-in-out;
}
nav ul a:hover {
  color: #1C6758;
  /* font-size: 1.15em; */
  transition: 0.125s all ease-in-out;
}
nav ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1C6758;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav ul a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hero .cv-btn {
  position: relative;
  padding: 1.4rem 4.2rem;
  color: white;
  background-color: #1C6758;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero .cv-btn:hover {
  background-color: transparent;
  color: #1C6758;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.about .left .skills .skill-list {
  color: #3D8361;
}

.projects .project-card {
  border: 1px solid #3D8361;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.projects .project-card a {
  position: relative;
}
.projects .project-card a img {
  transition: all 0.15s ease-in-out;
}
.projects .project-card a .external-link {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
}

.contact .socials-list a {
  /* display: block; */
  position: relative;
  text-decoration: none;
  color: black;
  transition: 0.125s all ease-in-out;
}
.contact .socials-list a:hover {
  color: #1C6758;
  /* font-size: 1.15em; */
  transition: 0.125s all ease-in-out;
}
.contact .socials-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1C6758;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.contact .socials-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@media only screen and (min-width: 1024px) {
  .hero .cv-btn {
    color: #1C6758;
    background-color: transparent;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  .hero .cv-btn:before,
.hero .cv-btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
  }
  .hero .cv-btn:hover {
    color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    transition-delay: 0.5s;
  }
  .hero .cv-btn:hover:before {
    transition-delay: 0s;
  }
  .hero .cv-btn:hover:after {
    background: #1C6758;
    transition-delay: 0.35s;
  }
  .hero .from-bottom:before,
.hero .from-bottom:after {
    left: 0;
    height: 0;
    width: 100%;
  }
  .hero .from-bottom:before {
    top: 0;
    border: 2px solid #1C6758;
    border-top: 0;
    border-bottom: 0;
  }
  .hero .from-bottom:after {
    bottom: 0;
    height: 0;
  }
  .hero .from-bottom:hover:before,
.hero .from-bottom:hover:after {
    height: 100%;
  }
  .projects .project-card {
    border: 1px solid #3D8361;
  }
  .projects .project-card a {
    position: relative;
  }
  .projects .project-card a img {
    transition: all 0.15s ease-in-out;
  }
  .projects .project-card a img:hover {
    filter: brightness(50%);
    transition: all 0.15s ease-in-out;
  }
  .projects .project-card a img:hover ~ .external-link {
    opacity: 1;
    transition: all 0.15s ease-in-out;
  }
  .projects .project-card a .external-link {
    cursor: none;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
  }
}/*# sourceMappingURL=App.css.map */